<header>
    <img alt="dorsal" src="{{ "/images/dorsal.png" | prepend: site.baseurl }}">
    <p>{{ site.description }}</p>



  <p class="view"><a href="{{ site.repo }}">View the Project on GitHub <small>eventbrite/dorsal</small></a></p>


  <ul>
    <li><a href="{{ "/zipball/master" | prepend: site.repo }}">Download <strong>ZIP File</strong></a></li>
    <li><a href="{{ site.docs }}">Docs On <strong>GitHub</strong></a></li>
    <li><a href="{{ site.repo }}">View On <strong>GitHub</strong></a></li>
  </ul>

</header>
