<header>
  <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  <p>{{ site.description }}</p>

  <p class="view"><a href="{{ site.repo }}">View the Project on GitHub <small>eventbrite/dorsal</small></a></p>


  <ul>
    <li><a href="{{ "/zipball/master" | prepend: site.repo }}">Download <strong>ZIP File</strong></a></li>
    <li><a href="{{ "/tarball/master" | prepend: site.repo }}">Download <strong>TAR Ball</strong></a></li>
    <li><a href="{{ site.repo }}">View On <strong>GitHub</strong></a></li>
  </ul>
</header>
